{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ url('homepage') }}">{{ 'reader.all' | trans }}</a></li>
        {% for category in categories %}
            <li><a href="{{ url('show_by_category', {'category_id':category.getId()}) }}">{{ category.getCategory() }}</a></li>
        {% endfor %}
    </ul>
    {% for book in books %}
        <div class="card">
            <div class="card-title">
                <h3>{{ book['book'].getBook() }}</h3>
            </div>
            <div class="card-body">
                <img src="{{ vich_uploader_asset(book['book'], 'coverImage') }}" alt="" style="width: 200px">
                {% if book['status'] == 'get_book' %}
                    <div>
                        <a class="btn btn-info"
                           href="{{ url('get_book', {'book_id': book['book'].getId()}) }}">{{ 'reader.get_book' | trans }}</a>
                    </div>
                {% else %}
                    <p>{{ book['status'] }}</p>
                {% endif %}

            </div>
        </div>
    {% endfor %}
{% endblock %}

