{% extends 'base.html.twig' %}

{% block body %}
    {% for application in reader.getApplications() %}
        <div class="card">
            <div class="card-title">
                <h3>{{ application.getBook().getBook() }}</h3>
            </div>
            <div class="card-body">
                <img src="{{ vich_uploader_asset(application.getBook(), 'coverImage') }}" alt="" style="height: 100px">
                <p>{{ application.getStatus() }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

