{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-title"><h3>{{ book.getBook() }}</h3></div>
    </div>
    {% include '@App/includes/form.html.twig' %}
{% endblock %}

