{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}

{% block body %}
<div class="row card">
    <div class="card-title">
        <h2>
            {{ 'reader.welcome' | trans }}, {{ reader.getFullName() }}
        </h2>
    </div>
    <div class="card-body">
        <h4>
            {{ 'reader.reader_card_id' | trans  }}: {{ reader.getReaderCardId() }}
        </h4>
    </div>
</div>
{% endblock %}