{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

</head>
<body data-root-url="{{ url('homepage') }}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url('homepage')}}">{{ 'literature.literature' | trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('reader_books') }}">{{ 'reader.my_books' | trans }}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if app.session.get('_locale') == 'ru' %}
                <button type="button" disabled class="btn btn-secondary">Рус</button>
                <button type="button" data-locale="en" class="btn btn-secondary btn_lang">Eng</button>
            {% else %}
                <button type="button" data-locale="ru" class="btn btn-secondary btn_lang">Рус</button>
                <button type="button" disabled class="btn btn-secondary">Eng</button>
            {% endif %}
        </div>
        <a class="btn btn-info" href="{{ url('register_reader') }}">{{ 'reader.register' | trans }}</a>
    </nav>
    <div class="container">
{% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
    <script src="{{ '/js/switch_lang.js' }}"></script>
</body>
</html>
